dataset/out_aug_32x64/*.jpg
dataset/out_aug_32x64/*.png
samples/*.jpg
logs/*.net
logs/*.net.old
logs/*.bestnet
logs/*.bestnet.old
logs/*.log
logs/images/*.jpg
logs/images/*.png
logs/images_good/*.jpg
logs/images_good/*.png
logs/images_bad/*.jpg
logs/images_bad/*.png

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

